<h1>gfhjkm </h1>
<div id="error-message2" style="color: red;"></div>
<form id="pass-form">
    <label for="password2">Пароль:</label>
    <input type="password" id="password2" name="password2" required>
    <button type="submit">Зарегистрироваться</button>
    
</form>
