<h1>Страница Регистрации</h1>
<div id="error-message2" style="color: red;"></div>
<form id="login-form">
    <label for="username2">Имя пользователя:</label>
    <input type="text" id="username2" name="username2" required><br>
    <label for="password2">Пароль:</label>
    <input type="password2" id="password2" name="password2" required><br>
    <button type="submit">Зарегистрироваться</button>
</form>
<div id="output2">
    <!-- Здесь будут отображаться данные -->
</div>