<h1>Страница Регистрации</h1>
<div id="error-message" style="color: red;"></div>
<form id="registration-form">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>
    <button type="submit">Зарегистрироваться</button>
</form>
<div id="output">
    <!-- Здесь будут отображаться данные -->
</div>